body{
font-family: serif;
font-family: Georgia,Times,Times New Roman,serif; 
background: white;	
}

.centerDiv {
margin: 5px auto;
max-width: 75%;
}

.dark-mode {
  background-color: black;
  color: white;
}


.ans_displayyy{
  display: none;
}

.question_display{
margin: 5px auto;
max-width: 75%;


}

.question_displayyy{
font-weight:bold;
}

.navigate {

  background: #D0D0FE;
  left: 0;
  top: 5px;
  bottom: 5px;
  position: relative;
  border:  2px solid #BBBBE5;
  border-radius: 12px;
  padding: 5px 24px;
  font-size: 15px;
  transition-duration: 0.4s;
}

.navigate:hover {
  background-color: #E8E8FF; /* Green */
}



.btn {

  background: #D0D0FE;
  left: 0;
  top: 5px;
  bottom: 5px;
  position: relative;
  border:  2px solid #BBBBE5;
  border-radius: 12px;
  padding: 5px 24px;
  font-size: 15px;
  transition-duration: 0.4s;
}
.btn:hover {
  background-color: #E8E8FF; /* Green */
}


.btnDiv {
  width: 100%;
  background: #D0D0FE;
  left: 0;
  top: 5px;
  bottom: 5px;
  position: relative;
  border:  2px solid #BBBBE5;
  border-radius: 12px;
  padding: 5px 24px;
  font-size: 15px;
  transition-duration: 0.4s;
}
.btnDiv:hover {
  background-color: #E8E8FF; /* Green */
}


.container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 35px;
  margin: 5px auto;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.questDiv {
margin: 5px auto;
max-width: 75%;
 
}


.glow {
  font-size: 25px;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
  color: #fff;
  display: none;
  text-align: center;
  animation: glow 5s ease-in-out infinite alternate;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
